.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  input {
    width: 300px;
  }
}

.loginBox {
  background-color: white;
  border: 1px solid #eee;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
}

.tab {
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-active=false] {
    background-color: #eee;
    border-bottom: 1px solid #eee;
  }
  &[data-active=true] {
    font-weight: bold;
  }

}
