.content {
  padding: 40px 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px 0;
}

.error {
  color: red;
  text-align: center;
  padding: 0 30px;
}
